<%# <form action="/home" method="POST">
    Enter ticker: <input type="text" name="ticker">
    <input type="submit">
</form> %>
 
<h1> Welcome <%= current_user.username %> to your portfolio </h1>
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="example" action="/stocks" method="POST">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<br><br>
<% if !@stocks.empty? %>
<% @stocks.each do |stock|%>
Name: <%= stock.name %> <br>
Price: <%= stock.price %><br>
Ticker: <%= stock.ticker %><br>
Note: <% if stock.note %> <%= stock.note %>
<% else %>
 No note!
 <% end %>
<br><br>
<form action="/update" method="POST">
<input type="hidden" id="hidden" name="_method" value="PATCH">
<input type="submit" name="<%= stock.ticker %>" value="Click here to update price!"> 
</form>

<form action="/stocks/<%=stock.id%>/edit" method="GET">
    <input type="submit" value="Edit Name and/or Note" >
</form>

<form method="POST" action="/stocks/<%= stock.id %>">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
    </form><br><br>
<% end %>
<% else %>
<h3> You do not have any stock listed </h3>
<% end %>

<a href="/logout"> Log Out </a>